%h2 #{t('login.confirmations.resend_confirmation')}

= form_for(resource, as: resource_name, url: confirmation_path(resource_name), class: :form, html: { method: :post }) do |f|
  = devise_error_messages!

  .form-group
    = f.label :email, t('login.fields.email')
    = f.email_field :email, autofocus: true, class: 'form-control', required: true

  .form-group.submit
    = f.submit "#{t('login.confirmations.resend_confirmation_instructions')}", class: 'btn btn-default'

= render 'devise/shared/links'
