- cache(cache_name('home_features')) do
  #second-option
    .container
      .row
        .col-md-4.feature
          %span.icomoon-lock2
          %strong
            = t('home.features.privacy.title')
          %p
            = t('home.features.privacy.description')

        .col-md-4.feature
          %span.icomoon-key
          %strong
            = t('home.features.permissions.title')
          %p
            = t('home.features.permissions.description')

        .col-md-4.feature
          %span.icomoon-search
          %strong
            = t('home.features.search.title')
          %p
            = t('home.features.search.description')

      .row
        .col-md-4.feature
          %span.icomoon-users2
          %strong
            = t('home.features.collaboration.title')
          %p
            = t('home.features.collaboration.description')

        .col-md-4.feature
          %span.icomoon-keyboard
          %strong
            = t('home.features.keyboard.title')
          %p
            = t('home.features.keyboard.description')

        .col-md-4.feature
          %span.icomoon-dashboard
          %strong
            = t('home.features.fast.title')
          %p
            = t('home.features.fast.description')
