%p
  = t('greetings', name: @resource.email)

%p
  = t('devise.mailer.reset_password_instructions.body_description')

%p
  = link_to t('devise.mailer.reset_password_instructions.link'), edit_password_url(@resource, reset_password_token: @token)

%p
  = t('devise.mailer.reset_password_instructions.body_explanation_ignore')

%p
  = t('devise.mailer.reset_password_instructions.body_explanation')
