!!!
%html
  %head
    %title
      = APP.app_name
    - cache(cache_name('layout_includes')) do
      = stylesheet_link_tag    'application', media: 'all'
      = javascript_include_tag 'application'
    = csrf_meta_tags
    = render 'shared/metas'
    = render 'layouts/javascripts'
  %body
    #header-region
      = render 'shared/header'
    .container
      #messages-region
        = render 'layouts/messages'
      #main-region

    %footer#footer-white
      = render 'shared/footer'
    = render 'shared/analytics', silent: true
