!!!
%html
  %head
    %title
      = "#{t('login.title')} - #{APP.app_name}"
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
    = render 'shared/metas'
    %meta(name="description" content="#{t('login.metas.description')}")
    %meta(name="keywords" content="#{t('login.metas.keywords')}")
  %body#signup
    .container
      .row.header
        %h1.logo
          = link_to APP.app_name, root_path
      .row
        #main-region.wrapper.clearfix
          = render 'layouts/messages'
          .formy
            = yield
        %footer.already-account
          = render 'shared/footer'
    = render 'shared/analytics'
